<% content_for :page_title do %>
<%= Guides.meta["title"] %>: Credits
<% end %>

<% content_for :header_section do %>
<h2>Credits</h2>

<p>We'd like to thank the following people for their tireless contributions to this project.</p>
<% end %>

<% Guides.meta["authors"].each do |group, authors| %>
  <h3 class="section"><%= group %></h3>
  <% authors.each do |author| %>
    <div class="author clearfix" id="<%= author["nick"] %>">
      <% if author["image"] %>
      <img alt="<%= author["name"] %>" class="left pic" src="<%= author["image"] %>" width=80 height=80>
      <% else %>
      <img alt="<%= author["name"] %>" class="left pic" src="/images/credits_pic_blank.gif" width=80 height=80>
      <% end %>
      <h3><%= author["name"] %></h3>
      <%= author["description"].html_safe %>
    </div>
  <% end %>
<% end %>

